    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>I've been baking cakes for family and friends for most of my life. I love to bake with my children, like my mother and I baked together many years ago. As my youngest is about to embark on her first day at Nursery, I've decided to pluck up the courage - and bow to pressure from my friends - and create <a href="">#prettyniceslice</a> </p>
                <p>Below are a few of my most recent creations<b>
                <br/>
              </div>
        </div>
    </section>
